*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a1a2e;
  font-family: sans-serif;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}